html,body,head{
    margin: 0;
    padding: 0;
}


table,tr,td,thead,tbody{
    margin: 0;
    padding: 0;
}
.table-content{
    position: relative;
}
.table-fixed-left{
    position: absolute;
    left: 0;
    top: 0;
}
.table-fixed-right{
    position: absolute;
    right: 0;
    top: 0;
}


.table td{
    border: 1px solid rgba(0,0,0,0.05);
    text-align: center;
    color: #000000;
}

.table-body table tr:nth-child(2n+1){background-color:#f2f2f2;}
.table-fixed{
    background: #ffffff;

}
.table-scroll .table-head{
    overflow: scroll;
}
table{
    width: 100%;
    display: table;
}
.table-head::-webkit-scrollbar {height: 0}